# ============================================================
# General
# ============================================================
seed: 0
device: cuda:0
num_few_shot: 1
num_fewshot_repeats: 5
epochs: 300
lr: 1e-3
normalization: OpenAI                           # ImageNet or OpenAI or None

# ============================================================
# Logging
# ============================================================
logging:
  base_dir: results/AdaCLIP/${dataset.name}
  tag: ""
  wandb:
    enabled: false
    project: AdaCLIP_fewshot
  resume: true

# ============================================================
# Embedding Model
# ============================================================
embedding:
  model_name: clip_vitl14
  resolution: 518
  patch_size: 14

  normalize: true
  use_positional_encoding: false

  pca:
    components: -1
    batchsize: 200

  batch_size: 1

# ============================================================
# Few-Shot Classifier
# ============================================================
fewshot:
  object_mask: false
  threshold_default: 0.5
  min_abnormal_token_ratio: 0.01   # replaces hard-coded min_abnormal_tokens
  evaluation_max_batch_size: 32768

# ============================================================
# Score Model
# ============================================================
score_model:
  name: adaclip

  adaclip:
    checkpoint: checkpoints/pretrained_mvtec_colondb.pth
    backbone: ViT-L-14-336
    prompting:
      depth: 4
      length: 5
      branch: VL
      type: SD
    k_clusters: 20
    use_hsf: false   # explicitly disabled for clarity

# ============================================================
# Dataset
# ============================================================
dataset:
  name: RESC
  data_root: ${oc.env:DATA_ROOT}/RESC        # Path to the root directory of the dataset.
  path_train_images: "{data_root}/train/{type_anomaly}"
  path_val_images: "{data_root}/val/{type_anomaly}/img"
  path_val_labels: "{data_root}/val/{type_anomaly}/label"
  path_test_images: "{data_root}/test/{type_anomaly}/img"
  path_test_labels: "{data_root}/test/{type_anomaly}/label"
  objects: [""]
  object_anomalies:
    "": ["ungood"]

# ============================================================
# Visualization
# ============================================================
visualization:
  save_embedding_maps: false
  rotate_samples: 3
  visualize_training_step: false
